.SortingFilters {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  display: flex;
  padding-left: 3rem;

  @media screen and (max-width: 769px) {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: space-between;
    padding-left: 0;
  }
}