.TodoList {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 769px) {
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.List {
  padding-left: 3rem;
  margin-top: 2rem;

  @media screen and (max-width: 769px) {
    padding-left: 0;
  }
}

.TodoListLeer {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-left: 3rem;
  text-align: start;
}